{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <link rel="favicon" type="image/png" src="{% static 'favicon.ico' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script>
        window.DJANGO_URLS = {
            PASSWORD_RESET: "{% url 'password_reset' %}"
        };
    </script>
</head>
<body>
    <script src="{% static 'login-bundle.js' %}"></script>

    <div id="root"></div>
</body>
</html>